* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/northernlights.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.questionRow{
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: rgba(0,0,0,0.6);
}